<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Notification</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="email"><b>Email address</b></label>
      <input class="form-control" id="email" name="email" type="email" [(ngModel)]="jobModel.email" aria-describedby="emailHelp"
        placeholder="EMail" value="{{jobModel.email}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
      </small>
    </div>
    <div class="form-group">
      <label for="repository"><b>Repositories</b></label>
      <div style="padding-top: 5px; padding-left:4%;" *ngFor="let repository of jobModel.repositoryTos" class="form-check">
        <input type="checkbox" name="repository" class="form-check-input" value="{{repository.name}}"
          [(ngModel)]="repository.selected" [ngModelOptions]="{standalone: true}">
        {{repository.name}}
      </div>
    </div>
    <label for="searchKeywordToAdd"><b>Add Search Keywords</b></label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Add Search Keyword" id="searchKeywordToAdd"
          name="searchKeywordToAdd" [(ngModel)]="jobModel.searchKeywordToAdd">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="addSearchKeyword(jobModel.searchKeywordToAdd)">Add</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="searchKeywords"><b>SearchKeywords</b></label>
      <p *ngIf="jobModel.searchKeywords.length == 0">No Search Keywords added yet.</p>
      <ul name="searchKeywords" id="searchKeywords">
        <li *ngFor="let searchKeyword of jobModel.searchKeywords">{{searchKeyword}} <button class="btn"
            style="background-color:transparent" (click)="removeSearchKeyword(searchKeyword)"><i
              class="fa fa-minus-circle" style="color:black"></i></button></li>
      </ul>
    </div>
    <fieldset disabled>
      <div class="form-group">
        <label for="frequency"><b>Frequency</b></label>
        <select [(ngModel)]="selectedJob.getJobTO.frequency" class="form-control" id="frequency"
          name="frequency">
          <option *ngFor="let frequency of jobModel.frequencies;" [ngValue]="frequency">{{frequency}}</option>
        </select>
        <small id="frequencyHelp" class="form-text text-muted">In minutes.</small>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveJob()">Save</button>
</div>