<app-nav-menu [isAuthenticated]="isAuthenticated" [username]="username"></app-nav-menu>
<div class="container homeMain">
    <div class="region">
    <div class="jumbotron bg-primary text-white" style="margin-bottom: -5px">
        <h1 class="display-4" *ngIf="isAuthenticated; else showNotAnonymousGreeting">Hello, {{username}}!</h1>
        <ng-template #showNotAnonymousGreeting>
            <h1><i class="fa fa-search mr-3"></i>RepositoryObserver</h1>
        </ng-template>
        <p class="lead">Welcome to RepositoryObserver, a simple service to observe your GitHub repositories.</p>
        <hr class="my-4 bg-white">
        <!-- <p>RepositoryObserver was built using:</p>
        <ul>
            <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
                    href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side
                code
            </li>
            <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a>
                for
                client-side code
            </li>
            <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
            <li><a href='http://font-awesome.com/'>Font Awesome</a> for icons</li>
        </ul> -->
                        <p>
                            <strong>RepositoryObserver</strong> offers a service to <code>observe</code> your
                            <code>repositories</code> for
                            accidentally leaked <code>vulnerable data</code> like passwords or api-keys.<br>
                            Simply authenticate with your Github account and select the <code>repositories</code> you
                            want to observe.<br>
                            The service allows you to specify different keywords and start frequent scans or scans on every commit.
                        </p>
            <button style="margin-bottom:-3%;" *ngIf="!isAuthenticated" type="button" class="btn btn-success btn-lg" (click)="login()"><i class="fa fa-github"></i> Sign Up</button>
                        
        <div>
        </div>
    </div>
</div>
    <div class="region">
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-0 mb-3 h-100" >
                    <div class="card-body bg-success text-white">
                        <h2 class="card-title">How does this work?</h2>
                        <p class="card-text">
                            <strong>RepositoryObserver</strong> offers a service to observe your
                            <code>repositories</code> for
                            accidentally leaked <code>passwords</code>.<br>
                            Simply authenticate with your GitHub account and select the <code>repositories</code> you
                            want to observe. Choose a frequency at which the scans are started or create a webhook to
                            automatically scan on every commit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-0 mb-3 h-100">
                    <div class="card-body bg-primary text-white">
                        <h2 class="card-title">Open Source</h2>
                        <p class="card-text">This project is open source and its source code can be reviewed <a
                                href="https://github.com/MorrisMorrison/RepositoryObserver">here</a></p>
                        <p>The Application stores only the username and repository names and accesses them through
                            Github's public API.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="region">
            <app-subscription></app-subscription>
        </div>
    

    <!-- <div class="region">
        <app-add-notification [isAuthenticated]="isAuthenticated" [username]="username"></app-add-notification>
    </div> -->

</div>
<app-footer></app-footer>