<app-nav-menu [isAuthenticated]="isAuthenticated" [username]="username"></app-nav-menu>
<div class="container faq-main">
  <div class="card">
    <div class="card-body">
      <div class="card-title">

        <div class="col-md-8 offset-md-2">


        <h1 class ="mb-3"><strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions</h1>
          
        <hr>

      <div class="mt-3 question">
        <h3>1. What is this all about?</h3>
        <p class="ml-1">This service helps you not leaking any vulnerable information when pushing to public repos.</p>
      </div>

      <div class="question">
        <h3>2. How does it work?</h3>
        <p class="ml-1">The service either scans your repositories every x minutes of it creates a repositoryhook and checks your repository every time any changes happen.</p>
      </div>


      <div class="question">
        <h3>3. Are you going to collect my data?</h3>
        <p class="ml-1">Yes</p>
      </div>

    </div>
  
  </div></div>
  </div>
</div>
<app-footer></app-footer>