<app-nav-menu [isAuthenticated]="isAuthenticated" [username]="username"></app-nav-menu>
<div class="container paymentsMain">
    <div class="region">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h1 class="card-title" style="padding-top:10px; padding-bottom:10px;">My Premium Plan:</h1>
                <div class="row" *ngIf="abonement != null">
                    <div class="col-3">
                        <div class="card text-white bg-warning">
                            <h4 style="padding-top:10px; padding-bottom:10px; padding-left: 15px;">
                                Type
                            </h4>
                            <div class="card-body">
                                <span>{{abonement.premiumPlan.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-white bg-info">
                            <h4 class="card-title" style="padding-top:10px; padding-bottom:10px; padding-left: 15px;">
                                Buying Date
                            </h4>
                            <div class="card-body">
                                <span>{{abonement.premiumPlan.buyingDate | date:'dd.MM.yyyy HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card text-white bg-secondary">
                            <h4 class="card-title" style="padding-top:10px; padding-bottom:10px; padding-left: 15px;">
                                Last Payed
                            </h4>
                            <div class="card-body">
                                <span>{{abonement.premiumPlan.buyingDate | date:'dd.MM.yyyy HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div *ngIf="abonement.active" class="card text-white bg-success">
                            <h4 class="card-title" style="padding-top:10px; padding-bottom:10px; padding-left: 15px;">
                                Status
                            </h4>
                            <div class="card-body">
                                <span>Active</span>
                            </div>
                        </div>
                        <div *ngIf="!abonement.active" class="card text-white bg-danger">
                            <h4 class="card-title" style="padding-top:10px; padding-bottom:10px;">
                                Status
                            </h4>
                            <div class="card-body">
                                <span *ngIf="abonement.active">Inactive</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="abonement == null">
                    <p class="text-info">You haven't bought any premium plans yet.</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="abonement != null" class="region">
        <div class="card text-white bg-primary">
            <div class="card-body">
            <h2 class="card-title" style="padding-top:10px; padding-bottom:10px;">My Payments:</h2>
            <div class="row">
                <div class="col-12">
                    <table *ngIf="abonement != null" class="table table-hover">
                            <caption class="text-success"> List of payments</caption>
                        <thead class="thead table-success">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment Type</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table table-light" *ngFor="let payment of abonement.premiumPlan.payments; let i = index"
                                [attr.data-index]="i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{payment.amount}} €</td>
                                <td>{{payment.paymentType}}</td>
                                <td>{{payment.paymentDate | date:'dd.MM.yyyy HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="region">
        <div class="card text-white bg-secondary">
            <div class="card-body">
                <h2 class="card-title" style="padding-top:10px; padding-bottom:10px;">My Donations:</h2>
                <div class="row">
                    <div class="col-12">
                        <table *ngIf="donations.length > 0" class="table table-hover">
                            <caption class="text-primary"> List of donations</caption>
                            <thead class="thead table-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment Type</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light" *ngFor="let donation of donations; let i = index" [attr.data-index]="i">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{donation.amount}} €</td>
                                    <td>{{donation.paymentType}}</td>
                                    <td>{{donation.createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="donations.length < 1">
                    <p class="text-primary">You haven't created any donations yet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>