<app-nav-menu [isAuthenticated]="isAuthenticated" [username]="username"></app-nav-menu>
<div class="container">
  <div class="card">
    <div class="card-header p-0">
      <div class="bg-primary text-white text-center py-2">
        <h3><i class="fa fa-envelope"></i> Contact Us:</h3>
        <p class="m-0">We'll almost never answer.</p>
      </div>
    </div>
    <div class="card-body" id="contactForm">


      <label>Name:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name-addon"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Max Patternman" aria-label="Name"
          aria-describedby="name-addon" [(ngModel)]="contactModel.name">
      </div>

      <label>E-Mail:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email-addon"><i class="fa fa-envelope"></i></span>
        </div>
        <input type="email" class="form-control" placeholder="maxpatternman@gmail.com" aria-label="E-Mail"
          aria-describedby="email-addon" [(ngModel)]="contactModel.email">
      </div>



      <label>Subject:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="subject-addon"><i class="fa fa-bolt"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="I hate this product" aria-label="Subject"
          aria-describedby="subject-addon" [(ngModel)]="contactModel.subject">
      </div>

      <label>Your Message:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil"></i></span>
        </div>
        <textarea class="form-control" rows="10" placeholder="Write your message down here ..." [(ngModel)]="contactModel.message"></textarea>
      </div>
      <div class="text-center" >
        <button class="btn btn-success btn-block py-2" (click)="sendMessage()">Submit</button>
      </div>
    </div>

  </div>
</div>

<div class="container" style="padding-top:5px;">
  <div class="card">
    <div class="mb-4">
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a class="text-primary" style="font-size:40px;"><i class="fa fa-map-marker"></i></a>
        <p>Saarbridges, 66111,<br> Germoney</p>
      </div>
      <div class="col-md-4">
        <a class="text-primary" style="font-size:40px;"><i class="fa fa-phone"></i></a>
        <p>+ 01 234 567 159, <br> Mon - Tue, 15:00-15:00</p>
      </div>
      <div class="col-md-4">
        <a class="text-primary" style="font-size:40px;"><i class="fa fa-envelope"></i></a>
        <p>info@repositoryobserver.com <br> sale@repositoryobserver.com</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>