<div class="addNotificationMain" *ngIf="isAuthenticated">
  <div class="card border-0 mb-3">
    <div class="card-header ro-card-header">
      <span>
        <i class="fa fa-bell"></i>
        <h5>Notify Me !</h5>
      </span>
      <a data-toggle="collapse" href="#collapseAddNotification" role="button" aria-expanded="false"
        aria-controls="collapseAddNotification">
        <i class="fa fa-chevron-down "></i>
      </a>
    </div>
    <div class="card-body collapse show" id="collapseAddNotification">
     
      <!-- <div *ngIf="success" class="alert alert-success" role="alert">
        Your notification has successfully been created.
      </div>
      <div *ngIf="alreadyCreated" class="alert alert-warning" role="alert">
        You already created a notification for this frequency.
      </div>
      <div *ngIf="formIsInvalid" class="alert alert-warning" role="alert">
        The information you provided are invalid. Please check again.
      </div> -->
      <form name="notificationForm" (ngSubmit)="printModel()"
        #notificationValidator="ngForm">
        <h5>Type</h5>
        <p>You can choose between creating a scheduled job or a repository hook.</p>
        <div class="row">
          <div class="col">
              <div class="form-group" >
            <input type="radio" name="schedulerEnabled" (change)="schedulerEnabledChanged()"
             [checked]="schedulerEnabled">
            Scheduled Job
            </div>
          </div>
          <div class="col">
            <div class="form-group">
            <input type="radio" name="schedulerEnabled" [checked]="!schedulerEnabled" (change)="schedulerEnabledChanged()">
          Repository Hook
          </div>
        </div>
        </div>
        <hr class="my-2">
        <h5 style="padding-top:10px;">E-Mail Notification</h5>
        <p>To get notified when vulnerable data was leaked in one of your repositories, simply subscribe with your
          email down below.</p>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email"><b>Email Address</b></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input class="form-control" id="email" name="email" type="email" [(ngModel)]="notificationModel.email"
                  #email="ngModel" aria-describedby="emailHelp" placeholder="Enter email" required email>
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="text-danger" *ngIf="email?.errors.required"><small>Email is required</small></div>
                <div class="text-danger" *ngIf="email?.errors.email"><small>Email must be a valid email address</small></div>
              </div>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
              </small>
            </div>
          </div>
          <div class="col">
            <label for="frequency"><b>Frequency</b></label>
            <select *ngIf="schedulerEnabled" [(ngModel)]="notificationModel.selectedFrequency" class="form-control" id="frequency"
              name="frequency" required>
              <option *ngFor="let frequency of notificationModel.frequencies;" [ngValue]="frequency">{{frequency}}
              </option>
            </select>
            <select *ngIf="!schedulerEnabled" [(ngModel)]="notificationModel.selectedFrequency" class="form-control" id="frequency"
            name="frequency" disabled>
            <option *ngFor="let frequency of notificationModel.frequencies;" [ngValue]="frequency">{{frequency}}
            </option>
          </select>
            <small id="frequencyHelp" class="form-text text-muted">In minutes.</small>
          </div>
        </div>
        <div class="row" style="padding-top:2%">
          <div class="col">
            <label for="searchKeywordToAdd"><b>Add Search Keywords</b></label>
            <div class="input-group">
              <input #searchKeywordToAdd="ngModel" class="form-control" type="text" placeholder="Add Search Keyword" id="searchKeywordToAdd"
                name="searchKeywordToAdd" [(ngModel)]="notificationModel.searchKeywordToAdd">
              <div class="input-group-append">
                <button  class="btn btn-success" type="button"
                  (click)="addSearchKeyword(notificationModel.searchKeywordToAdd)">Add</button>
              </div>
            </div>
          </div>
          <div class="col">
            <label for="commonKeyword"><b>Common Keywords</b></label>
            <div *ngIf="notificationModel.commonKeywords.length > 0; else showNoKeywordsYet">
              <span id="commonKeyword" name="commonKeyword"
                *ngFor="let commonKeyword of notificationModel.commonKeywords">{{commonKeyword}}<button class="btn"
                  style="background-color:transparent" (click)="addSearchKeyword(commonKeyword)"><i
                    class="fa fa-plus-circle"></i></button></span>
            </div>
            <ng-template #showNoKeywordsYet>
              <div>
                <p>No Keywords added yet.</p>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="row" style="padding-top: 2%">
          <div class="col">
            <div class="form-group">
              <label for="searchKeywords"><b>SearchKeywords</b></label>
              <div>
              <div *ngIf="notificationModel.searchKeywords.length == 0 && searchKeywordToAdd.touched" class="text-danger"><small>Search Keywords are required.</small></div>
              <p *ngIf="notificationModel.searchKeywords.length == 0 && !searchKeywordToAdd.touched">No Search Keywords added yet.</p>
            </div>
              <ul name="searchKeywords" id="searchKeywords">
                <li *ngFor="let searchKeyword of notificationModel.searchKeywords">{{searchKeyword}} <button class="btn"
                    style="background-color:transparent" (click)="removeSearchKeyword(searchKeyword)"><i
                      class="fa fa-minus-circle"></i></button></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <label for="repository"><b>Repositories</b></label>
            <div class="form-group">
              <div style="padding-top: 5px; padding-left:4%;" *ngFor="let repository of notificationModel.repositoryTos"
                class="form-check">
                <input type="checkbox" name="repository" id="repository" class="form-check-input" value="{{repository.name}}"
                  [(ngModel)]="repository.selected">
                {{repository.name}}
              </div>
            </div>
            <div *ngIf="this.getSelectedRepositories().length < 1">
                <div class="text-danger"><small>Selecting at least one Repository is required.</small></div>
              </div>
          </div>
          
        </div>
        <hr class="my-2">
        <div style="padding-top: 10px;">
        <h5>Mobile Notification</h5>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="phoneNumber"><b>Phone Number</b></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input class="form-control" id="phoneNumber" name="phoneNumber" type="tel" [(ngModel)]="notificationModel.phoneNumber"
                       aria-describedby="phoneNumberHelp" placeholder="Enter Phone Number" >
              </div>
              <div *ngIf="!this.notificationModel.phoneNumber  && (this.notificationModel.whatsappNotificationEnabled || this.notificationModel.smsNotificationEnabled)">
                  <div class="text-danger"><small>Providing a Phone Number is required.</small></div>
                </div>
            </div>
            
            
          </div>
          <div class="col">
            <div style="display:flex; flex-direction:column;">
              
            <label><b>Type</b></label>

<!--            <div class="row">-->
              <div class="form-check form-check-inline">
<!--                <label for="smsNotificationEnabled"><b>SMS Notification</b></label>-->
                <input id="smsNotificationEnabled" name="smsNotificationEnabled" type="checkbox" [(ngModel)]="notificationModel.smsNotificationEnabled"
                       aria-describedby="smsNotificationEnabledHelp">
                <span style="padding-left:10px;">SMS</span>
              </div>
<!--            </div>-->
<!--            <div class="row">-->
              <div class="form-check form-check-inline">
                <input id="whatsappNotificationEnabled" name="whatsappNotificationEnabled" type="checkbox" [(ngModel)]="notificationModel.whatsappNotificationEnabled"
                        aria-describedby="whatsappNotificationEnabledHelp">
<!--                <label for="whatsappNotificationEnabled"><b>WhatsApp Notification</b></label>-->
                <span style="padding-left:10px;">WhatsApp</span>
              </div>
<!--            </div>-->
            </div>


          </div>
        </div>
       
        <div class="form-group" style="padding-top:10px;">
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
        </div>
      </form>
 
    </div>
    
  </div>
</div>