<app-nav-menu [isAuthenticated]="isAuthenticated" [username]="username"></app-nav-menu>
<div class="container notificationsMain">
    <div class="card border-0">
        <div class="card-body">
            <h1 class="card-title" style="padding-top:10px; padding-bottom:10px;">My Notifications:</h1>
            <p class="card-text">You can only have only NotificationTask per Frequency, so your maximum number of tasks
                equals the maximum number
                of
                frequencies available.</p>
            <div *ngIf="notifications.length < 1">
                <p class="text-info">You haven't created any notifications yet.</p>
            </div>
            <div *ngIf="notifications.length > 0">
                <table class="table table-hover">
                        <caption class="text-secondary"> See results below by clicking on a row.</caption>
                    <thead class="thead table-primary">
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">#</th>
                            <th scope="col">EMail</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Repositories</th>
                            <th scope="col">Search Keywords</th>
                            <th scope="col">Last Executed</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notification of notifications; let i = index"
                            [attr.data-index]="i"
                            (click)="getNotificationResults(notification.getNotificationTO.frequency)">
                            <td>
                                <input id="test" name="{{notification.getNotificationTO.id}}" type="checkbox"
                                    value="{{notification.getNotificationTO.id}}" [(ngModel)]="notification.selected">
                                <label for="test"></label>
                            </td>
                            <td scope="row">{{i+1}}</td>
                            <td>{{notification.getNotificationTO.email}}</td>
                            <td>{{notification.getNotificationTO.frequency}} minutes</td>
                            <td>
                                <ul>
                                    <li *ngFor="let repository of notification.getNotificationTO.repositories">
                                        {{repository}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="let searchKeyword of notification.getNotificationTO.searchKeywords">
                                        {{searchKeyword}}</li>
                                </ul>
                            </td>
                            <td *ngIf="notification.getNotificationTO.status != 'INIT'; else showNever">
                                {{notification.getNotificationTO.lastExecutedAt | date:'dd.MM.yyyy HH:mm'}}</td>
                            <ng-template #showNever>
                                <td>Never</td>
                            </ng-template>
                            <td>{{notification.getNotificationTO.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <button style="margin-right: 1%; width:10%;" type="button" class="btn btn-success"
                    (click)="editNotification()">Edit</button>
                <button type="button" style="width:10%;" (click)="deleteNotifications()"
                    class="btn btn-info">Delete</button>
            </div>
        </div>
    </div>
    <div *ngIf="notifications.length > 0" class="region">
        <div class="card border-0">
            <div class="card-body">
                <h1 class="card-title" style="padding-top:10px; padding-bottom:10px;">Results:</h1>
                <p class="card-text">All results for a selected Task are provided below.
                </p>
                <div *ngIf="notificationResults == null">
                    <p class="text-info">No results have been found for the selected NotificationTask.</p>
                </div>
                <table style="table-layout: fixed; width:100%" *ngIf="notificationResults != null" id="resultTable"
                    class="table table-hover">
                    <caption class="text-secondary"> See details by clicking on a row.</caption>
                    <thead class="thead table-success">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">RepositoryName</th>
                            <th scope="col">Name</th>
                            <th scope="col">Path</th>
                            <th scope="col">Url</th>
                            <th scope="col">CreatedAt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="collapseControl[key] = !collapseControl[key]"  [attr.aria-expanded]="!collapseControl[key]" aria-controls="key" *ngFor="let key of keys; let i = index" [attr.data-index]="i">
                            <td >#</td>
                            <td >{{notificationResults[key][0].repositoryName}}</td>
                            <td >{{notificationResults[key][0].name}}</td>
                            <td >{{notificationResults[key][0].path}}</td>
                            <td ><a href="{{notificationResults[key][0].url}}">Go to GitHub</a></td>
                            <td >{{notificationResults[key][0].createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        <ng-template  ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                            <ng-template ngFor let-result [ngForOf]="notificationResults[key]" let-resultIndex="index">
                                    <tr class="table-light" [ngbCollapse]="collapseControl[key]">
                                        <td >{{resultIndex+1}}</td>
                                        <td >{{result.repositoryName}}</td>
                                        <td >{{result.name}}</td>
                                        <td >{{result.path}}</td>
                                        <td ><a href="{{result.url}}">Go to GitHub</a></td>
                                        <td >{{result.createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
                                    </tr>
                            </ng-template>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="region">
        <app-add-notification [isAuthenticated]="isAuthenticated" [username]="username"
            (notificationCreated)="notificationCreated($event)"></app-add-notification>
    </div>
</div>
<app-footer></app-footer>